### Loop

In [7]:
l = [36,25,85,23,34,34,26]

In [2]:
l

[36, 25, 85, 23, 34, 34]

In [3]:
l[0]

36

### For Loop

In [ ]:
for <index> in <iterator>:
    print(index)

In [4]:
range(0,10)

range(0, 10)

In [5]:
for i in range(0, 5):
    
    print(i)

0
1
2
3
4

In [8]:
len(l)

7

In [10]:
for i in range(0, 7):
    
    print(l[i])

36
25
85
23
34
34
26

In [11]:
for i in l:
    
    print(i)

36
25
85
23
34
34
26

In [12]:
for i in range(0, len(l)):
    
    print(l[i])

36
25
85
23
34
34
26

### Sum Of Numbers

In [15]:
sum = 0

for i in range(0, len(l)):
    
    sum = sum + l[i]
    
print(sum)

263

### Print the pattern

In [17]:
word = "INDIA"

for i in word:
    
    print(i)

I
N
D
I
A

### Multiplication Table

In [22]:
n = 12

for i in range(1, 11):
    
    print(f"{n} x {i} - {n*i}")

12 x 1 - 12
12 x 2 - 24
12 x 3 - 36
12 x 4 - 48
12 x 5 - 60
12 x 6 - 72
12 x 7 - 84
12 x 8 - 96
12 x 9 - 108
12 x 10 - 120

In [19]:
n = 5
i = 3

print(f"ljsfkfksfhk{n}{i}")

ljsfkfksfhk53

### Factorial of number

In [29]:
result = 1
n = 10

for i in range(1, n+1):
    
    result = result * i
    
print(f"Factorial of {n} is :",result)

Factorial of 10 is : 3628800

### Print the pattern

In [82]:
n = 5

for i in range(n+1, 1, -1):

    for j in range(0, i-1):
    
        print("*", end = "")
        
    print()

*****
****
***
**
*

### While Loop

In [ ]:
while <condition>
    
    print()

In [88]:
n = 5 
i = 1

while i <= n:
    
    print(" * " * i)
    i = i + 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [94]:
n = 5
i = n

while i >= 1:
    print(" * " * i)
    
    i = i - 1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [98]:
n = 5 
i = 1

while i <= n:
    
    print(" * " * i)
    i = i + 1
    
n = 4
i = n

while i >= 1:
    print(" * " * i)
    
    i = i - 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

### Pattern Print

In [100]:
string = "AMOGH PATHAK"

index = 0

while index < len(string):
    
    print(string[index])
    
    index += 1

A
M
O
G
H

P
A
T
H
A
K

In [103]:
strin = "VAIBHAV PATIL"

index = 0

while index < len(strin):
    
    print(strin[index])
    
    index += 1

V
A
I
B
H
A
V

P
A
T
I
L

### Print the number from n to 1

In [133]:
n = 5

for i in range(n, 0, -1):
    
    print(i)

5
4
3
2
1

In [143]:
n = int(input("Enter a number :"))

while n >= 1:
    
    print(n)
    
    n -= 1

Enter a number :10
10
9
8
7
6
5
4
3
2
1

# Functions

In [164]:
def greet():
    
    print("Hello!")

In [161]:
greet()

Hello!

'hello'

In [166]:
result = greet()

Hello!

In [167]:
print(result)

None

In [187]:
def test1():
    
    sum = 1 + 5
    
    return sum

In [183]:
test1()

6

In [188]:
result = test1()

In [189]:
print(result)

6

In [190]:
def test3():
    
    li = [1,2,3]
    
    return li

In [191]:
result = test3()

In [192]:
print(result)

[1, 2, 3]

In [193]:
def test5():
    
    name = "PRAVIN"
    
    return name

In [194]:
name = test5()

In [196]:
print(name)

PRAVIN

In [209]:
def test6():
    
    return "hello", "fjl", "amogh"

In [205]:
test6()

'hello'

In [206]:
print(test6())

hello

In [210]:
hi,b,c = test6()

In [208]:
hi

'hello'

In [211]:
b,c

('fjl', 'amogh')

In [215]:
def test3():
    
    l = [1,2,3,4,5,6,7,8,9,10]
    
    sum = 0
    
    for i in l:
        
        sum += i
    
    return sum

In [216]:
test3()

55

In [219]:
def test9():
    
    l = [1,2,3,4,5, 'india']
    
    sum = 0
    
    for i in l:
        
        if type(i) == int:
        
            sum += i
        
    return sum

In [220]:
test9()

15

In [221]:
def test10(l):
    
    sum = 0
    
    for i in l:
        
        if type(i) == int:
            sum += i
    return sum

In [222]:
l = [1,2,3,4,5,"a"]

test10(l)

15

In [223]:
def test11(mylist):
    
    sum = 0
    
    for i in mylist:
        
        if type(i) == int:
            
            sum += i
    return sum

In [228]:
l = [1,2,3,4,"a","s"]

test11(mylist = l)

10

In [229]:
def two_sum(a,b):
    
    sum = a + b
    
    return sum

In [232]:
a = 5
b = 10

two_sum(a,b)

15

In [233]:
l

[1, 2, 3, 4, 'a', 's']

In [239]:
def test12(mylist):
    
    li = []
    
    for i in mylist:
        
        if type(i) == str:
            
            li.append(i)
            
    return li

In [240]:
l

[1, 2, 3, 4, 'a', 's']

In [241]:
test12(l)

['a', 's']

In [248]:
def test13(mylist):
    """
    This function seperates the integer and str elements from the given list
    :params: list()
    :return: string list, int list
    """
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == int:
            
            li_int.append(i)
            
        elif type(i) == str:
            
            li_str.append(i)
    return li_str, li_int

In [247]:
l = [1233,44,5,6,"jdhfs","dfjks"]

In [246]:
test13(l)

(['jdhfs', 'dfjks'], [1233, 44, 5, 6])

## Questions

### 1. Write a function to find the length of a string without using inbuilt 'len' function

In [280]:
def findlen(strr:str()):
    
    """
    This function returns the length of the given string
    :params: It takes strr: str() as a parameter
    """
    
    count = 0
    
    for i in strr:
        
        count+= 1
        
    return count

In [282]:
findlen("amogh")

5

### 2. Write a function which will be able to print an index of list element without using index function

In [297]:
def findind(ind:list()):
    
    """
    This function will print an index of an element
    :params: It takes ind: list() as a parameter
    """
    index = 0
            
    for i in ind:
            print(f"The index of {i} is {index}")
            index += 1

In [298]:
li = [1,2,3,4,4]

In [299]:
findind(li)

The index of 1 is 0
The index of 2 is 1
The index of 3 is 2
The index of 4 is 3
The index of 4 is 4

### 3. Write a function that calculates the factorial of a given positive integer.

In [30]:
def fact(num):
    """
    This function calculates the factorial of a number
    :params: it takes num:  int parameter
    """
    
    fact = 1
    
    for i in range(1, num+1):
        
        fact*=i
        
    return fact

In [32]:
fact(3)

6